<h2 class="screen-align">Empsave</h2>
<div id="izyj" class="">
    <div id="template-is3m" class="gjs-row">
        <div id="template-i4uj" class="gjs-cell">
            <input type="text" id="template-i5ii" placeholder="enter empid" required="true"
            [(ngModel)]="entity1.empid" [ngModelOptions]="{standalone: true}" ngDefaultControl
            class="form-control " />
        </div>
        <div id="template-inpp" class="gjs-cell">
            <input type="text" id="template-isq9" placeholder="enter name" required="true"
            [(ngModel)]="entity1.Enter_Name" [ngModelOptions]="{standalone: true}"
            ngDefaultControl class="form-control " />
        </div>
    </div>
    <div type="button" id="template-iu7g" (click)="Create()" class="btn btn-primary ">Save</div>
</div>